// Colors

//Primary
$primary-light-1:#697694;
$primary:#314570;
$primary-dark-1:#142853;

//Secondary
$secondary-light-1:#e0f1f3;
$secondary:#AED1D6;
$secondary-dark-1:#6da6af;

//Tertiary
$tertiary-light-1:#facbb3;
$tertiary:#E09873;
$tertiary-dark-1:#753c20;

//Helper 1
$helper-1:#7584AD;

//Helper 2
$helper-2: #bd7754;




$black-color: #000000;
$white-color: #f7f1f1;


$red-color-light: #f3b2ae;
$red-color:#FF4136;
$red-color-dark:#852621;

$blue-color-dark:#05162e;
// $blue-color:#072652;
$blue-color:#314570;
$blue-color-light:#0074D9;
$blue-color-light-2:#97b6d1;


$orange-color-light:#ecb18e;
$orange-color-light-1:#f87d35;
// $orange-color:#FF5E00;
$orange-color:#AED1D6;

$grey-color: #AAAAAA;
$grey-color-light:#ded5d4;
//Grid
$grid-width: 100vw;
$gutter-vertical: 7rem;
$gutter-horizontal: 5rem;

//Shadows
$default-shadow: .5rem 1rem 2rem rgba($black-color,.4);