.about-features{
    background-color: $secondary-light-1;
    margin-top:5rem;

    &__col{
        padding:6rem 1.5rem;
    }

    &__icon{
        font-size:5rem;
        color: $tertiary-dark-1;
    }

    &__description{
        color: $tertiary-dark-1;
        font-weight:600;
    }
}
